@import "src/styles/variables";

.d-flex {
    display: flex;
}

.align-items-end {
    align-items: flex-end;
}

.justify-content-between {
    justify-content: space-between;
}

.w-100 {
    width: 100%;
}