/**
  Переменные для цветов
 */

$cOne:          rgba(0, 0, 0, 0.5);
$cTwo:          #00a85f;
$cThree:        #00a85f;
$cFour:         #00a85f;
$cFive:         #00a85f;

$cLink:         #003566;
$mShadow:       #00000050;
$menuHeight:    160px;
$transition:    cubic-bezier(0.51, 0.26, 0.21, 1.36);

$blue:          #0d6efd;
$indigo:        #6610f2;
$purple:        #6f42c1;
$pink:          #d63384;
$danger:        #dc3545;
$orange:        #fd7e14;
$warning:       #ffc107;
$green:         #198754;
$teal:          #20c997;
$cyan:          #9ed9ff;
$muted:         #555770;
$dark:          #28293D;